$main_color: #6CB31B;
$second_color: #55D6F5;

@mixin button {
  display: flex;
  justify-content: center;
  align-self: center;

  width: 213px;
  margin: 27px auto;
  padding: 0 12px;

  background: $main_color;
  border-radius: 6px;
  border: none;
  color: #303030;

  font-size: 14px;
  text-transform: uppercase;
  line-height: 48px;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    background: darken($main_color, 10%);
  }
}