
@mixin button {
  display: flex;
  justify-content: center;
  align-self: center;

  width: 213px;
  margin: 27px auto;
  padding: 0 12px;

  background: #FF6754;
  border-radius: 6px;
  border: none;
  color: #303030;

  font-size: 14px;
  text-transform: uppercase;
  line-height: 48px;
  font-weight: 400;

  &:hover {
    background: darken(#FF6754, 10%);
  }
}