@import "../components/mixin";

/* -------------------------------------- DESCRIPTION ----------------------------------- */
#description {
  background: url('bg-faq.jpg');

  .container-elastic {
    overflow: hidden;
  }

  .home-description {
    max-width: 700px;
    margin: 60px 40px 160px;
    text-align: center;
    font: 300 18px/1.7 'Open Sans', sans-serif;
    color: #fff;

    span {
      font-size: 34px;
      font-weight: 400;
    }

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }
}

/* ------------------------------------- HOME SECTION TITLE ---------------------------- */
.home-section-title {
  position: relative;
  margin: 100px 0;
  color: #fff;
  text-align: center;

  font-size: 30px;
  font-weight: 300;
  line-height: 45px;
  text-transform: uppercase;

  ::before,
  ::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 170px;
    border-bottom: 1px solid $second_color;
    top: 65px;
  }
  ::before {
    left: 400px;
  }

  ::after {
    right: 400px;
  }
  span {
    display: block;
    font-size: 10px;
    line-height: 4;
    color: $second_color;
  }
}

/* ------------------------------------- HOME PROJECTS ------------------------------------ */

#projects {
  overflow: hidden;

  .home-section-title {
    color: #303030;

    ::before {
      left: 445px;
    }
    ::after {
      right: 445px;
    }
  }
}

.home-projects {
  margin-bottom: 100px;

  .project {
    height: 500px;
    -webkit-filter: contrast(150%) sepia(30%);
    filter: contrast(150%) sepia(30%);
  }

  li:nth-child(n+5) {
    display: none;
  }

  .load-more,
  .turn {
    @include button;
    @media screen and (min-width: 700px) {
      display: inline-flex;
      margin-left: 41%;
    }
  }

  .turn {
    display: none;
  }
}


/* ----------------------------------------- HOME EVENTS --------------------------------------- */
#events {
  position: relative;
  z-index: 0;

  .event-load-more,
  .event-turn {
    @include button;
    cursor: pointer;
    clear: both;
  }
  .event-turn {
    display: none;
  }
}

/* ---------------------------------------- ABOUT ----------------------------------------------- */
#about {
  overflow: hidden;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.2;

  .home-section-title {
    margin-bottom: 50px;
  }
  p {
    margin-bottom: 10px;
  }

  .insert-page {
    width: 48%;
    float: left;
    padding-top: 60px;

    color: #fff;
    text-indent: 15px;

   ul {
     margin-top: 20px;

     li {
       margin-top: 10px;
       text-indent: 0;
     }
   }
  }

  .ssba {
    display: none;
  }
}

