@import "../components/mixin";

/* -------------------------------------- DESCRIPTION ----------------------------------- */
#description {

  .container-elastic {
    overflow: hidden;
  }

  .home-description {
    max-width: 700px;
    margin: 60px 40px 160px;
    text-align: center;
    font: 300 18px/1.7 'Open Sans', sans-serif;
    color: #fff;

    span {
      font-size: 34px;
      font-weight: 400;
    }

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }
}

/* ------------------------------------- HOME SECTION TITLE ---------------------------- */
.home-section-title {
  position: relative;
  margin: 50px 0;
  color: #fff;
  text-align: center;

  font-size: 30px;
  font-weight: 300;
  line-height: 45px;
  text-transform: uppercase;

  @media screen and (min-width: 600px) {
    margin: 100px 0;
  }

  ::before,
  ::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 170px;
    border-bottom: 1px solid $second_color;
    top: 65px;
  }
  ::before {
    left: 175px;

    @media screen and (min-width: 600px) {
      left: 330px;
    }

    @media screen and (min-width: 800px) {
      left: 400px;
    }
  }

  ::after {
    right: 175px;

    @media screen and (min-width: 600px) {
      right: 330px;
    }

    @media screen and (min-width: 800px) {
      right: 400px;
    }
  }
  span {
    display: block;
    font-size: 10px;
    line-height: 4;
    color: $second_color;
  }
}

/* ------------------------------------- HOME PROJECTS ------------------------------------ */

#projects {
  overflow: hidden;

  .home-section-title {
    color: #303030;

    ::before {
      @media screen and (min-width: 600px) {
        left: 345px;
      }
      @media screen and (min-width: 800px) {
        left: 445px;
      }
    }
    ::after {
      @media screen and (min-width: 600px) {
        right: 345px;
      }
      @media screen and (min-width: 800px) {
        right: 445px;
      }
    }
  }
}

.home-projects {
  margin-bottom: 100px;
  border-radius: 10px;
  overflow: hidden;

  .project {
    float: left;
    position: relative;
    overflow: hidden;

    height: 300px;
    min-width: 50%;
    width: 100%;


    -webkit-filter: contrast(150%) sepia(30%);
    filter: contrast(150%) sepia(30%);


    @media screen and (min-width: 480px) {
      height: 350px;
    }

    @media screen and (min-width: 600px) {
      width: 50%;
    }

    @media screen and (min-width: 768px) {
      height: 500px;

      h2 {
        font-size: 37px;
      }

      p {
        font-size: 23px;
        line-height: 1.2;
      }
    }


    img {
      height: 100%;
      width: 100%;
      transition: all .6s ease;
    }

    &:hover {
      transition: all .6s ease;
      img {
        transform: scale(1.1);
      }
    }


    .rollover {
      @include rollover;

      .rollover-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      @media screen and (min-width: 768px) {

        h2 {
          font-size: 37px;
        }

        p {
          font-size: 23px;
          line-height: 1.2;
        }
      }

    }
  }

  li:nth-child(n+5) {
    display: none;
  }

  .load-more,
  .turn {
    @include button;
    @media screen and (min-width: 700px) {
      display: inline-flex;
      margin-left: 41%;
    }
  }

  .turn {
    display: none;
  }
}

/* ----------------------------------------- HOME EVENTS --------------------------------------- */
#events {
  position: relative;
  z-index: 0;

  .event-load-more,
  .event-turn {
    @include button;
    cursor: pointer;
    clear: both;
  }
  .event-turn {
    display: none;
  }
}

/* ---------------------------------------- ABOUT ----------------------------------------------- */
#about {
  overflow: hidden;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.2;

  .home-section-title {
    margin-bottom: 50px;
  }
  p {
    margin-bottom: 10px;
  }

  .insert-page {
    text-align: center;

    @media screen and (min-width: 860px) {
      text-align: left;
      width: 48%;
      float: left;
      padding: 60px 0;
    }

    color: #fff;
    text-indent: 15px;

    ul {
      margin-top: 20px;

      li {
        margin-top: 10px;
        text-indent: 0;
      }
    }
  }

  .ssba {
    display: none;
  }
}

